*.orig
*.rej
/Makefile
/config.status
/config.log
/config.cache
/configure
/config.h
/config.h.in
/.devel
/os-proto.h
/stamp-h
/stamp-h.in
/tags
/tcpslice
/tcpslice-*.tar.gz
/autom4te.cache/
/*.o
*~
.*.swo
.*.swp
