Bill Fenner <fenner@gmail.com> fenner@gmail.com <>
Denis Ovsienko <denis@ovsienko.info> <infrastation@yandex.ru>
Guy Harris <gharris@sonic.net> <guy@alum.mit.edu>
Guy Harris <gharris@sonic.net> guyharris <>
Jun-ichiro itojun Hagino <itojun@iijlab.net> itojun <>
Michael Richardson <mcr@sandelman.ca> mcr@sandelman.ca <>
Sebastien Raveau <sebastien.raveau@epita.fr> sebastien.raveau@epita.fr <>
